.header-box {
  height: 50px;
  width: 100%;
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

#logo {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}

.sidebar-box {
  font-family: 'Open Sans', sans-serif;
  height: calc(100% - 50px);
  width: 0px;
  position: fixed;
  z-index: 2;
  top: 50px;
  left: 0px;
  background-color: rgba(255, 255, 255, .9);
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.5s;
}

.info-box {
  padding-left: 10px;
  padding-right: 10px;
}

.info-box a {
  color: #3264a6;
}

#sidebar-open {
  top: 18px;
  right: 17px;
  color: black;
  position: absolute;
}

#sidebar-close {
  position: absolute;
  top: 0;
  right: 25px;
  color: black;
  font-size: 36px;
  margin-left: 50px;
}

#map-query {
  padding: 5px;
  position: absolute;
  left: 30%;
  bottom: 1em;
  background: rgba(0, 0, 0, 0.4);
  color: #aaa;
}

#feature-count {
  color: rgba(199, 16, 181, 255);
}

.map-legend-circle {
  width: 10px;
  height: 10px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  float: left;
  margin: 5px 7px 0 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 13px;
}

h1 {
  font-size: 3em;
  margin: 0;
}
